h2{
    color: rgb(7, 7, 7);
    font-weight: bolder;
    text-decoration: underline;
}



body{
    background-color: #ffffff;
    font-size: 18px;
    color: rgb(5, 5, 5);
}
table{
    text-align: center;
    
    border: 0 px solid #070707;
    border-top: 0px solid #050505;
    border-spacing: 0px;
}